// partials/breadcrumbs
// See https://www.educative.io/edpresso/how-to-make-a-breadcrumb-in-html---css.
//
.breadcrumb{
  border-top: 1px solid;
  padding-top: 1em;
  padding-left: 0em;
  list-style: none;
}

.breadcrumb li.book-section-flat {
  margin: 1em 0em;
}

.breadcrumb li+li:before{
  // padding: 8px;
  content: "↳";
}
